.estilo1{color:black;
        font-size:80px;
        font-family:arial;
        font-style:oblique;}

.estilo2{color:black;
         text-aling:justify;
         font-size:30;
         font-family:arial;}



.footer{aling-self:flex-end;
background:#B5B9FF;
line-heigth:3;
text-aling:center;
width:100%px;}





body{background:#AFCBFF;}
